html {
    font-size: 14px;
}
*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
    font-family: 'Lato', sans-serif;
}
a {
    color: lightblue;
    cursor: pointer;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
body {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 100%;
    background-color: black;
}
#controls {
    background-color: rgba(128, 128, 128, 0.2);
    width: calc(100% - 2rem);
    display: flex;
    padding: 1rem;

    justify-content: center;
}
.control {
    padding: 0.5rem 1rem;
    width: 10rem;
}
#gridsection {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 2rem;
}
#gridarea {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 1px;
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);
}
.title {
    height: 2rem;

    white-space: nowrap;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    background-color: white;
    transition: all 0.1s;
    cursor: pointer;
}
.block:hover {
    background-color: lightgray;
}

.start {
    background-color: green;
}
.dest {
    background-color: red;
}
.wall {
    background-color: black !important;
}
.path {
    background-color: skyblue;
}
.processed {
    animation-name: processed;
    animation-duration: 5s;
}
@keyframes processed {
    0% {
        background-color: white;
    }
    25% {
        background-color: grey;
    }
    100% {
        background-color: white;
    }
}

.custom-button {
    margin: 0.2rem;
    background: white;
    color: black;
    transition: all 0.1s;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    justify-content: center;
}
.disabled {
    opacity: 0.5;
}
.custom-button:hover {
    background: black;
    color: white;
}
.custom-slider {
    width: calc(100% - 1rem);
    height: 25px;
    background: white;
    border-radius: 6px;
    padding: 0.5rem;
    height: 2rem;
}

#text {
    display: flex;
    margin: 2rem;
    flex-direction: column;
}
@media only screen and (max-width: 1300px) {
    #gridsection {
        flex-direction: column;
    }
}
